@import 'forms'

body
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

//
// Colors
//
$light-blue: #EAF7FF

//
// Left forms sections
//
section
    max-width: 400px
    margin: 20px 20px 0

//
// Dropdowns
//
.dropdown-wrapper:hover
    select
        border-radius: 3px 3px 0 0
        background-color: #EEE
    .dropdown
        display: block

.dropdown
    // Don't show dropwdown by default
    display: none
    max-height: 190px
    overflow-y: auto
    padding: 10px 12px 10px
    border: 1px solid #DDD
    border-top: 0
    box-shadow: 0 2px 3px #777

.dropdown-option
    padding: 10px
    cursor: pointer
    &:hover
        background-color: $light-blue
    span
        display: block
        font-size: 0.9rem
    .option-text
        color: #777
        font-size: 0.85rem
        padding-top: 2px
    
//
// Search dropdown
//
#search-section
    border-bottom: 1px solid #DDD
    margin-bottom: 8px
    input
        width: 90%
        float: left
    br
        clear: both
        height: 4px

#search-icon
    width: 10%
    float: left

//
// General
//
.icon-i
    margin-left: 15px
    font-family: Serif
    display: inline-block
    // Create 18px circle -- padding for left-right alignment
    width: 11px
    height: 18px
    padding-left: 7px
    // Line height for top-bottom alignment
    line-height: 1.4
    border-radius: 50%
    background-color: #777
    color: #FFF
    font-style: italic

.bold-text
    font-weight: 700

